.header__container{
  background-image: linear-gradient( to right bottom, rgba(0,0,0,.8), rgba(0,0,0,.3)), url('../hotel.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "lato" 
}
.nav{
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: #eee;
  text-transform: uppercase;
}
.nav__logo{
  font-size: 2.5rem;
  cursor: default;
}
.nav__links__list__item{
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all .4s;
  font-weight: 900;
}
.nav__links__list__item:hover {
  color:orange;
}
.middle--section {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.middle--section__form{
  color:rgb(70, 70, 70);
  width: 35rem;
  height: 40rem;
  background: rgb(255, 255, 255);
  padding: 3rem 3rem;
  margin: 1rem;
  border-radius: .5rem;
}
.middle--section__content{
  width:50rem;
  height: 35rem;
  padding: 3rem 3rem;
  margin: 1rem;
  margin-left: 10rem;
  border-left: 1.5px #eee solid;
}
.middle--section__form__header--first{
  font-size: 3rem;
  display:block;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 500;
  text-align: center;
}
.middle--section__form__header--second{
  font-size: 1.7rem;
  display:block;
  font-weight: 300;
  color: rgb(70, 70, 70);
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: 'lato';
  text-align:center;
  border-bottom:1.5px rgba(148, 148, 148, 0.411) solid;
  padding-bottom: 1rem;
}
.middle--section__form__main{
  margin-top:3rem;
}
.middle--section__form__main--label{
  display: block;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.middle--section__form__main--input{
  display: block;
  width: 80%;
  outline: none;
  padding: .8rem;
  border-radius: 2px;
  font-size:1.8rem;
  border: 1.2px rgba(104, 104, 104,.4) solid;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-radius: 5px;
  letter-spacing: .2rem;
}
.middle--section__form__main--dropbox{
  width: 85%;
  outline: none;
  padding: .8rem;
  border-radius: 2px;
  font-size:1.8rem;
  border: 1.2px rgba(104, 104, 104,.4) solid;
  border-radius: 5px;
  margin: 0 auto;
  background: white;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color:rgb(110, 110, 110);
}
.middle--section__form__main--dropbox option {
  display: block;
  margin-top: 2rem;
  padding-top: 2rem;
}
.middle--section__form__main--submit{
  background: #46698D;
  display: block;
  margin: 0 auto;
  border: none;
  color:white;
  font-size: 2.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem 6rem;
  transition: all .5s;
  cursor: pointer;
}
.middle--section__form__main--submit:hover {
  background: #EB6896;
}
.middle--section__content--head{
  font-size: 5rem;
  text-align: center;
  color: rgb(240, 240, 240);
}
.middle--section__content--sub{
  color: rgb(240, 240, 240);
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: .5rem;
  margin-left: 5rem;
}
.middle--section__content--para{
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  color: rgb(240, 240, 240);
  margin-top: 5rem;
}
.middle--section__form__main--alert {
  margin: 0px 113px;
  color: red;
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.middle--section__form__main--dropbox--test {
  width: 80%;
}
.middle--section__form__main--dropbox--test .title{
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  padding: .8rem;
  border-radius: 2px;
  font-size:1.8rem;
  border: 1.2px rgba(104, 104, 104,.4) solid;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .2rem;
  cursor: pointer;
  opacity: 1;
}
.middle--section__form__main--dropbox--test .dropbox-option{
  display: block;
  width: 100%;
  outline: none;
  font-size:1.8rem;
  border-radius: 0;
  border:0;
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer;
  padding:.8rem;
}
.middle--section__form__main--dropbox--test .dropbox-option:hover{
  display: block;
  width: 100%;
  outline: none;
  font-size:1.8rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer;
  background: rgb(231, 231, 231);
}
.dropbox-options-box {
  border-radius: 5px;
  border:1px solid rgb(221, 221, 221);
  width: 27%;
  overflow: hidden;
  background: white;
  position: absolute;
}
.opcity-zero{
  visibility: hidden;
}
