* {
  margin: 0 auto;
  padding: 0;
}
/* Header */
.header {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('http://s1.picswalls.com/wallpapers/2014/08/08/home-high-definition_015622881_147.jpg');
  background-position: center !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 500px;
  flex-direction: row-reverse;
  align-items: center;
}

.search-form {
  background-color: white;
  border-radius: 2%;
  border: 1px solid #DCDCDC;
  width: 400px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 8%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.about {
  border-bottom: 2px solid #DCDCDC;
    }
.about h5 {
  margin-bottom: 15px;
  color: #545454;
  font-size: 13px;
}
.about h3 {
  font-family: 'Volkhov', serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 21px;
  margin-top: 10px;
}

.about-us {
  color: #DCDCDC;
  font-family: 'Lato', sans-serif;
  width:580px;
  border-left: 1px solid #FFFFFF;
  padding: 10px ;
  margin-left: 10px;

}

.about-us h1 {
  color:#FFFFFF;
  letter-spacing: 1.5px;
  font-family: 'Volkhov', serif;
  font-size: 50px;
}
.about-us p {
  padding-top: 25px;
}

#search {
  width: 200px;
  height: 40px;
  background: #00C2FF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0;
  outline: none;
  margin-bottom: 10px;
}

#search:hover {
  background:#31909b;
}

 #check-in , #check-out {
   border: 1px solid #BEBEBE;
   box-sizing: border-box;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   width: 200px;
   height: 30px;
}

.search-form span:not(:last-child) {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


.search_categories {
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

select {
  background: transparent;
  line-height: 1;
  border: 1px solid #BEBEBE; ;
  border-radius: 2px;
  width: 200px;
  position: relative;
  height: 30px;
  margin-top: -10px;
}



/* Footer  */
.footer {
  background-color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  height:300px;
  color: #FFFFFF;
}

.about-us-footer {
  display: flex;
  flex-direction: column;
}

.contact-us:not(:last-child) {
  padding-bottom:10px;
  margin-left: 10px;
}

.contact-us {
  border-left: 1px solid #FFFFFF ;
  padding: 10px 0;
}
.about-us-footer h1 {
  font-size: 40px;
  font-family: 'Volkhov', serif;
  letter-spacing: 1.5px;
}

.about-us-footer h2 {
  color: #DCDCDC;
  font-family: 'Lato', sans-serif;
  font-size: 28px;

}

.fa {
  display: flex;
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 9px 35px;
  border-radius: 50%;
  flex-direction: column;
}


.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
