<div class="main--section">
  <h1 class="main--section__header">{{sectionType}}</h1>
  <div class="main--section__result">
    {{!-- {{#each rooms}}
    <div class="main--section__result__item">
      <div class="main--section__result__item--img">
        <div class="main--section__result__item--img--front">
          <img src="./room.jpeg" alt="Room Img">
        </div>

        <div class="main--section__result__item--img--back">
          <input type="submit" value="Book it" >
          <input type="submit" value="Details">
        </div>

      </div>
      <div class="main--section__result__item--details">
        <span>Room Number : {{this.number}} </span>
        <span>Price : {{this.price}}$ </span>
      </div>
    </div>
  {{/each}} --}}
  </div>
  <div class="main--section--buttons">
    <input type="submit" class="main--section--buttons--next" value='Next Step'>
    <input type="submit" class="main--section--buttons--cancel" value='Clear '>
  </div>
</div>
