<div class="main--section">
  <h1 class="main--section__header">{{sectionType}}</h1>
  <div class="main--section__result">
      </div>
  <div class="main--section--buttons">
    <input type="submit" class="main--section--buttons--next" value='Next Step'>
    <input type="submit" class="main--section--buttons--cancel" value='Clear '>
  </div>
</div>
