<div class="container">
  <div class="inner">
    <h1>Sign In</h1>
    <span class="br"></span>
    <label for="username">Email Address
      <input type="text" name='username' id="username" placeholder="Enter Your Email Address ">
    </label>

    <label for="password">Password
      <input type="password" name='password' id="password" placeholder="Enter Your Password">
    </label>

    <input type="submit" value="Sign in" id="btn">
    <h2 id="alert"></h2>
    <a href="/signup">Sign Up </a>

  </div>
</div>