<div class="footer hide">
  <div class="footer--container">
    <div class="footer__logo">
      <h1 class="footer__logo--first">Marna House</h1>
      <h2 class="footer__logo--second">Where Everything is cool</h2>
    </div>
    <div class="footer_contact-us">
      <h4>Address : Palestine - Gaza - AlRemal - Abed Alazez Street </h4>
      <h4>Phone No. : +9720592541153 </h4>
      <h4>Email Address : marnahouse@gmail.com </h4>
      <h4>Telefax : +972082758364</h4>
    </div>
  </div>
</div>