<div class="header">
  <div class="about-us">
    <h1>Marna House</h1>
    <h2>Where Every Is Cool</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
  </div>
  <div class="search-form">
    <div class="about">
      <h3>Find Rooms On Marna</h2>
        <h5>Discover entire homes and private rooms perfect for any trip .</h4>
       </div>
        <label for="check-in">
          <span>check-in</span>
          <input type="date" id="check-in" required></label>
          <label for="check-out">
            <span>check-out</span>
            <input type="date" id="check-out" required></label>
            <span>Type</span>
            <select required class="options">
              <option value="Single"> Single</option>
              <option value="Double"> Double</option>
              <option value="Trible"> Trible</option>
              <option value="Mixed"> Mixed</option>
            </select>
            <button type="button" name="button" id="search">Search</button>
  </div>
</div>
